// LOGO
.logo {
    font-size: 1.3em;
}

.logo a {
    text-decoration: none;
    color: #252525;
}

// NAVIGATION
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 10vh;
    padding: 0px 65px;
}

.main-menu {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

.main-menu a {
    display: inline-block;
    position: relative;
    color: #252525;
    text-decoration: none;
    letter-spacing: 1px;
    margin: 10px 10px;
    padding: 7px 10px;
}

.main-menu a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #FFC901;
    opacity: 0;
    transition: opacity 225ms, transform 225ms;
}

.main-menu a:hover::after,
.main-menu a:focus::after {
    opacity: 1;
    transform: translate3d(0, 0.2em, 0);
}


// MOBILE MENU
.burger-menu {
    display: none;
}

.mobile-logo {
    display: none;
}

.burger-menu div {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 5px;
    transition: all 300ms ease;
}

.toggle .line-one {
    transform: rotate(-45deg) translate(-5px,6px);
    background-color: #F6F6F6;
}

.toggle .line-two {
    opacity: 0;
}

.toggle .line-three {
    transform: rotate(45deg) translate(-5px,-6px);
    background-color: #F6F6F6;
}