.menu-item {
    font-family: 'Open Sans';
    font-size: 1em;
}

.ampersand a {
    font-family: "Times New Roman";
}

h1, h2, h3, h5, a {
    font-family: 'Open Sans';
}

p {
    font-family: 'Poppins';
    letter-spacing: 0.5px;
}